<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <app-profile-icon-selector formControlName="icon"></app-profile-icon-selector>
        <input formControlName="firstName" placeholder="First Name"
               [class.error]="firstName.invalid && firstName.touched"/>
        @if (firstName.errors?.['required'] && firstName.touched) {
          <em>Please enter a First Name</em>
        }
        @if (firstName.errors?.['minlength'] && firstName.touched) {
          <em>First Name must have more than 3 characters</em>
        }
        <input formControlName="lastName" placeholder="Last Name" [class.error]="lastName.invalid && lastName.touched"/>
        @if (lastName.errors?.['required'] && lastName.touched) {
          <em>Please enter a Last Name</em>
        }
        @if (lastName.errors?.['minlength'] && lastName.touched) {
          <em>Last Name must have more than 3 characters</em>
        }
        <input type=date formControlName="dateOfBirth" placeholder="Date of Birth"/>
        <div>
          <span>Favorites Ranking:</span>
          <input type="range" min="0" max="5" formControlName="favoritesRanking" placeholder="Favorites Ranking"/>
          <span>{{ contactForm.controls.favoritesRanking.value }}</span>
        </div>
        <div>
          <input type="checkbox" formControlName="personal"> Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phones</nav>
      <div formArrayName="phones">
        @for (phone of contactForm.controls.phones.controls; let i = $index; track i) {
          <div [formGroupName]="i" class="flex-column">
            <div class="flex-group">
              <input formControlName="phoneNumber" placeholder="Phone" [class.error]="phone.controls.phoneNumber.invalid"/>
              <img ngSrc="/assets/plus-grey-blue.png" class="add" alt="plus" height="50" width="50" priority
                   (click)="addPhone()"/>
            </div>
            @if (phone.controls.phoneNumber.invalid) {
            <em>Preferred Phone is required</em>
            }
            <div class="radio">
              @for (phoneType of phoneTypes; track $index) {
                <input type="radio" formControlName="phoneType" [value]="phoneType.value"> {{ phoneType.title }}
              }
            </div>
            <span><input type="checkbox" formControlName="preferred"> Preferred</span>
          </div>
        }
      </div>
    </section>
    <section>
      <nav>Addresses</nav>
      <div>
        <div formArrayName="addresses" class="address">
          @for (address of contactForm.controls.addresses.controls; let i = $index; track i) {
            <div [formGroupName]="i" class="address" [class.error]="address.invalid && address.dirty">
              <div class="flex-group">
                <input placeholder="Address" formControlName="streetAddress"/>
                <img ngSrc="/assets/plus-grey-blue.png" class="add" height="50" width="50" alt="plus"
                     (click)="addAddress()"/>
              </div>
              <input placeholder="City" formControlName="city"/>
              <input placeholder="State/Region" formControlName="state"/>
              <input placeholder="Zip/Postal Code" formControlName="postalCode"/>
              <select formControlName="addressType">
                @for (addressType of addressTypes; track $index) {
                  <option [value]="addressType.value">{{ addressType.title }}</option>
                }
              </select>
            </div>
            @if (address.invalid && address.dirty) {
              <em>Incomplete Address</em>
            }
          }
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea placeholder="Notes" rows="5" formControlName="notes" [class.error]="notes.invalid"></textarea>
        @if (notes.errors?.['restrictedWords']) {
          <em>Restricted Words Found: {{ notes.errors?.['restrictedWords'] }} </em>
        }
      </div>
    </section>
    <div class="buttons">
      <button type="button" class="secondary">Cancel</button>
      <button type="submit" class="primary" [disabled]="contactForm.invalid">Save</button>
    </div>
  </form>

</div>
